<!DOCTYPE html>
<html lang="en">

    <%- include("./layouts/header.ejs")%>


<body>
    <%- include("./layouts/navbar.ejs")%>
   
    <%- include(body)%>
  

    <%- include("./layouts/footer.ejs")%>

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/baguetteBox.min.js"></script>
    <script src="assets/js/vanilla-zoom.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>